$pink: #FF0099;
$black: #000000;
$white: #FFFFFF;
$orange: #EE5971;
$blue: #0711C1;
$yellow: #d8a630;
$title-font: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
$text-font: "PT Serif", Lucida Bright, Georgia, serif;
